.AuthPage {
    height: 100vh;
    padding-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/backgroundImg/authPageBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.AuthPage .authContainer {
    background-color: #ffffffb9;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.AuthPage .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.AuthPage .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.AuthPage .authContainer.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.AuthPage .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.AuthPage .authContainer.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.AuthPage .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.AuthPage .authContainer.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.AuthPage .overlay {
    background: #ff416d28;
    background: -webkit-linear-gradient(to right, #ff4b2bb6, #ff416db9);
    background: linear-gradient(to right, #ff4b2ba6, #ff416da9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.AuthPage .authContainer.right-panel-active .overlay {
    transform: translateX(50%);
}

.AuthPage .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: green;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.AuthPage .overlay-left {
    transform: translateX(-50%);
}

.AuthPage .authContainer.right-panel-active .overlay-left {
    transform: translateX(0);
}

.AuthPage .overlay-right {
    right: 0;
    transform: translateX(0);
}

.AuthPage .authContainer.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.AuthPage .form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.image-input-field {
    position: relative;
    width: 80px;
    height: 80px;
}
.input-field-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.input-image {
    position: absolute;
    width: 80px;
    height: 80px;
    opacity: 0;
    border-radius: 50%;
}
/* ========================================= */
.ApproveByOTP {
    width: 500px;
    height: 500px;
    padding-top: 100px;
}
