.customButton1 {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    transition: 0.2s;
    cursor: pointer;
}

.customButton1:hover {
    letter-spacing: 0.2rem;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    animation: box 3s infinite;
}

.customButton1::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
}

.customButton1 span {
    position: relative;
    z-index: 1;
}
.customButton1 i {
    position: absolute;
    inset: 0;
    display: block;
}

.customButton1 i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 70%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

.customButton1:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
}

.customButton1 i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

.customButton1:hover i::after {
    width: 15px;
    left: 70%;
    animation: move 3s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes box {
    0% {
        box-shadow: #27272c;
    }
    50% {
        box-shadow: 0 0 25px var(--clr);
    }
    100% {
        box-shadow: #27272c;
    }
}
